n8n/workflows/00-core-router-complete.json
{
  "name": "wa-core-router",
  "description": "Main WhatsApp message handler with intent classification and routing",
  "active": true,
  "nodes": [
    {
      "id": "WebhookIn",
      "name": "WA Webhook Incoming",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "path": "waha/incoming",
        "httpMethod": "POST"
      }
    },
    {
      "id": "PersistMessage",
      "name": "Persist Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "=http://backend:4000/api/webhook/waha",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"waNumber\": $json.waNumber || $json.from || '',\n  \"body\": $json.body || $json.text || '',\n  \"messageId\": $json.messageId || $json.id || '',\n  \"timestamp\": $json.timestamp || $now.toISO()\n}"
      }
    },
    {
      "id": "Precheck",
      "name": "Precheck AI State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "=http://backend:4000/api/chat/precheck",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"waNumber\": $json.waNumber || $json.from || ''\n}"
      }
    },
    {
      "id": "IfAllowed",
      "name": "AI Allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json['allowed']}}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "Classify",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 220],
      "parameters": {
        "method": "POST",
        "url": "=http://backend:4000/api/chat/classify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"threadId\": $node[\"Persist Message\"].json.threadId || '',\n  \"text\": $json.body || $json.text || '',\n  \"metadata\": {\n    \"waNumber\": $json.waNumber || $json.from || ''\n  }\n}"
      }
    },
    {
      "id": "RouteBySubflow",
      "name": "Route by Subflow",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1340, 220],
      "parameters": {
        "propertyName": "={{$json['subflow']}}",
        "rules": [
          {"operation": "equal", "value": "A"},
          {"operation": "equal", "value": "B"},
          {"operation": "equal", "value": "C"},
          {"operation": "equal", "value": "D"},
          {"operation": "equal", "value": "E"},
          {"operation": "equal", "value": "F"},
          {"operation": "equal", "value": "G"},
          {"operation": "equal", "value": "H"},
          {"operation": "equal", "value": "I"}
        ]
      }
    },
    {
      "id": "FallbackEscalate",
      "name": "Escalate (Fallback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 460],
      "parameters": {
        "method": "POST",
        "url": "=http://backend:4000/api/handover/escalate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"threadId\": $node[\"Persist Message\"].json.threadId || '',\n  \"type\": \"out_of_scope\",\n  \"targetRole\": \"admin\",\n  \"reason\": \"Message did not match any intent classifier\"\n}"
      }
    },
    {
      "id": "ReplyFallback",
      "name": "Reply Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 460],
      "parameters": {
        "method": "POST",
        "url": "=http://backend:4000/api/waha/send-text",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": $json.waNumber || $json.from || '',\n  \"text\": \"Halo, pesan kamu sudah kami teruskan ke tim admin. Mohon tunggu sebentar 🙏\"\n}"
      }
    },
    {
      "id": "SubflowA",
      "name": "Subflow A: Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 60],
      "parameters": {
        "method": "POST",
        "url": "=http://backend:4000/api/booking/validate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"scheduleAt\": $json.scheduleAt || $now.plus({days: 1}).set({hour: 10, minute: 0}).toISO(),\n  \"branchCloseHour\": \"17:00\",\n  \"weekendCloseHour\": \"16:00\"\n}"
      }
    },
    {
      "id": "SubflowC",
      "name": "Subflow C: FAQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 180],
      "parameters": {
        "method": "POST",
        "url": "=http://backend:4000/api/knowledge/reply",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"intent\": \"faq_waktu\",\n  \"contextType\": \"faq\",\n  \"query\": $json.body || $json.text || ''\n}"
      }
    },
    {
      "id": "ReplyCFaq",
      "name": "Reply FAQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 180],
      "parameters": {
        "method": "POST",
        "url": "=http://backend:4000/api/waha/send-text",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": $json.waNumber || $json.from || '',\n  \"text\": $node[\"Subflow C: FAQ\"].json.reply || 'Bisa kami bantu dengan apa?'\n}"
      }
    },
    {
      "id": "ReplyASuccess",
      "name": "Reply Booking Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 60],
      "parameters": {
        "method": "POST",
        "url": "=http://backend:4000/api/waha/send-text",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": $json.waNumber || $json.from || '',\n  \"text\": \"Booking berhasil dibuat! Tim kami akan konfirmasi jadwal Anda. Terima kasih 🙏\"\n}"
      }
    }
  ],
  "connections": {
    "WA Webhook Incoming": {
      "main": [[{
        "node": "Persist Message",
        "type": "main",
        "index": 0
      }]]
    },
    "Persist Message": {
      "main": [[{
        "node": "Precheck AI State",
        "type": "main",
        "index": 0
      }]]
    },
    "Precheck AI State": {
      "main": [[{
        "node": "AI Allowed?",
        "type": "main",
        "index": 0
      }]]
    },
    "AI Allowed?": {
      "main": [[{
        "node": "Classify Intent",
        "type": "main",
        "index": 0
      }], [{
        "node": "Escalate (Fallback)",
        "type": "main",
        "index": 0
      }]]
    },
    "Classify Intent": {
      "main": [[{
        "node": "Route by Subflow",
        "type": "main",
        "index": 0
      }]]
    },
    "Route by Subflow": {
      "main": [
        [{"node": "Subflow A: Booking", "type": "main", "index": 0}],
        [],
        [{"node": "Subflow C: FAQ", "type": "main", "index": 0}],
        [],
        [],
        [],
        [],
        [{"node": "Escalate (Fallback)", "type": "main", "index": 0}],
        []
      ]
    },
    "Subflow A: Booking": {
      "main": [[{"node": "Reply Booking Success", "type": "main", "index": 0}]]
    },
    "Subflow C: FAQ": {
      "main": [[{"node": "Reply FAQ", "type": "main", "index": 0}]]
    },
    "Escalate (Fallback)": {
      "main": [[{"node": "Reply Fallback", "type": "main", "index": 0}]]
    }
  }
}
