n8n/workflows/02-escalation-notifications-complete.json
{
  "name": "escalation-notifications",
  "description": "Escalation notification system - alerts admin when cases are escalated",
  "active": true,
  "nodes": [
    {
      "id": "EscalationWebhook",
      "name": "Escalation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 280],
      "parameters": {
        "path": "escalation/notify",
        "httpMethod": "POST"
      }
    },
    {
      "id": "GetThreadInfo",
      "name": "Get Thread Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 280],
      "parameters": {
        "method": "GET",
        "url": "=http://backend:4000/api/threads/{{$json.threadId}}",
        "sendBody": false
      }
    },
    {
      "id": "FormatNotification",
      "name": "Format Admin Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [720, 280],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "admin_msg",
              "name": "admin_msg",
              "type": "string",
              "value": "=`🚨 ESCALATION ALERT\\n\\nType: ${$json.type}\\nTarget: ${$json.targetRole}\\nPhone: ${$node[\"Get Thread Info\"].json.threads?.[0]?.wa_number || 'Unknown'}\\nReason: ${$json.reason}\\nThread: ${$json.threadId}`"
            }
          ]
        }
      }
    },
    {
      "id": "NotifyAdminWA",
      "name": "Send to Admin via WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 280],
      "parameters": {
        "method": "POST",
        "url": "=http://backend:4000/api/waha/send-text",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"6281234567890\",\n  \"text\": $json.admin_msg || \"Escalation notified\"\n}"
      }
    },
    {
      "id": "LogEscalation",
      "name": "Log Escalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 280],
      "parameters": {
        "method": "POST",
        "url": "=http://backend:4000/api/handover/escalate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"threadId\": $json.threadId || '',\n  \"type\": $json.type || 'escalation',\n  \"targetRole\": $json.targetRole || 'admin',\n  \"reason\": $json.reason || 'Admin notification sent'\n}"
      }
    }
  ],
  "connections": {
    "Escalation Webhook": {
      "main": [[{"node": "Get Thread Info", "type": "main", "index": 0}]]
    },
    "Get Thread Info": {
      "main": [[{"node": "Format Admin Notification", "type": "main", "index": 0}]]
    },
    "Format Admin Notification": {
      "main": [[{"node": "Send to Admin via WhatsApp", "type": "main", "index": 0}]]
    },
    "Send to Admin via WhatsApp": {
      "main": [[{"node": "Log Escalation", "type": "main", "index": 0}]]
    }
  }
}
