n8n/workflows/escalation_notifications.json
{
  "name": "escalation-notifications",
  "nodes": [
    {
      "id": "EscalationWebhook",
      "name": "Escalation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        280
      ],
      "parameters": {
        "path": "escalation/notify",
        "httpMethod": "POST"
      }
    },
    {
      "id": "NotifyAdminWA",
      "name": "Notify Admin WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "http://backend:4000/api/waha/send-text",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n\"session\": $json.session,\n  \"chatId\": $json.chatId,\n  \"text\": $json.text\n}) }}"
      }
    },
    {
      "id": "BuildEscalationMessage",
      "name": "Build Escalation Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        280
      ],
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst threadId = String(body.threadId || body.thread_id || '');\nconst fallbackChatId = threadId.startsWith('thr_') ? threadId.replace('thr_', '') : '';\nconst targetChatId = String(body.adminChatId || body.chatId || fallbackChatId || '');\nconst type = body.type || 'escalation';\nconst reason = body.reason || 'No reason provided';\n\nreturn [{\n  json: {\n    session: 'default',\n    chatId: targetChatId,\n    text: `[ESCALATION] type=${type} thread=${threadId || '-'} reason=${reason}`,\n    threadId: threadId\n  }\n}];"
      }
    },
    {
      "id": "PauseAiForThread",
      "name": "Pause AI for Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "http://backend:4000/api/chat/pause",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n\"threadId\": $json.threadId || ''\n}) }}"
      }
    }
  ],
  "connections": {
    "Escalation Webhook": {
      "main": [
        [
          {
            "node": "Build Escalation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Escalation Message": {
      "main": [
        [
          {
            "node": "Notify Admin WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin WA": {
      "main": [
        [
          {
            "node": "Pause AI for Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
